Http/obj/*
LIN.Modules/obj/*
LIN.Shared/obj/*
LIN.Types/obj/*
LIN.Types/obj/*
LIN.Types.Auth/obj/*
LIN.Types.Developer/obj/*
LIN.Types.Employee/obj/*
LIN.Types.Inventory/obj/*
LIN.Types.Maps/obj/*
LIN.Types.CommerceMax/obj/*
LIN.Types.Communication/obj/*
LIN.Types.Cloud/obj/*
LIN.Types.Planner/obj/*
LIN.Types.Contacts/obj/*
LIN.Types.Emma/obj/*
LIN.Types.Calendar/obj/*
LIN.Types.Identity/obj/*
LIN.Types.Cloud.Identity/obj/*
LIN.Types.Exp.Search/obj/*
LIN.Types.Blogs/obj/*
LIN.Types.Identity/LIN.Types.Identity/obj/*
LIN.Types.Labs.Applications/obj/*
LIN.Types.Notes/obj/*
LIN.Types.Cloud.OpenAssistant/obj/*
LIN.Types.Mail/obj/*
LIN.Types.Cloud.PostgreSQL/obj/*

Http/bin/*
LIN.Modules/bin/*
LIN.Shared/bin/*
LIN.Types/bin/*
LIN.Types/bin/*
LIN.Types.Auth/bin/*
LIN.Types.Developer/bin/*
LIN.Types.Employee/bin/*
LIN.Types.Inventory/bin/*
LIN.Types.Maps/bin/*
LIN.Types.CommerceMax/bin/*
LIN.Types.Communication/bin/*
LIN.Types.Cloud/bin/*
LIN.Types.Planner/bin/*
LIN.Types.Contacts/bin/*
LIN.Types.Emma/bin/*
LIN.Types.Calendar/bin/*
LIN.Types.Identity/bin/*
LIN.Types.Cloud.Identity/bin/*
LIN.Types.Exp.Search/bin/*
LIN.Types.Blogs/bin/*
LIN.Types.Notes/bin/*
LIN.Types.Identity/LIN.Types.Identity/bin/*
LIN.Types.Labs.Applications/bin/*
LIN.Types.Cloud.OpenAssistant/bin/*
LIN.Types.Mail/bin/*
LIN.Types.Cloud.PostgreSQL/bin/*

vs/
.vs/
vs/*
.vs/*