Http/obj/*
LIN.Modules/obj/*
LIN.Shared/obj/*
LIN.Types/obj/*
LIN.Types/obj/*
LIN.Types.Auth/obj/*
LIN.Types.Developer/obj/*
LIN.Types.Employee/obj/*
LIN.Types.Inventory/obj/*

Http/bin/*
LIN.Modules/bin/*
LIN.Shared/bin/*
LIN.Types/bin/*
LIN.Types/bin/*
LIN.Types.Auth/bin/*
LIN.Types.Developer/bin/*
LIN.Types.Employee/bin/*
LIN.Types.Inventory/bin/*